article,
#welcome p
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#welcome p
{
  -moz-border-radius: 15%;
  -webkit-border-radius: 15%;
  border-radius: 15%;
}

nav li
{
  background-image: -ms-linear-gradient( top, #999, #AAA 10%, #CCC 30%, #DDD 50%, #CCC 55%, #999 );
  background-image: -moz-linear-gradient( top, #999, #AAA 10%, #CCC 30%, #DDD 50%, #CCC 55%, #999 );
  background-image: -o-linear-gradient(top, #999, #AAA 10%, #CCC 30%, #DDD 50%, #CCC 55%, #999 );
  background-image: -webkit-linear-gradient( top, #999, #AAA 10%, #CCC 30%, #DDD 50%, #CCC 55%, #999 );
  background-image: linear-gradient( top, #999, #AAA 10%, #CCC 30%, #DDD 50%, #CCC 55%, #999 );
}

aside
{
  border-width:22px;
  -moz-border-image: url('/images/yellow-burst.png') 22 round;
  -o-border-image: url('/images/yellow-burst.png') 22 round;
  -webkit-border-image: url('/images/yellow-burst.png') 22 round;
  border-image: url('/images/yellow-burst.png') 22 round;
  background-clip: padding-box;
}

